<div class="nav-container">
	<div class="nav">
		<ul>
			<li class="home-image"><a href="#"><img src="../assets/reality_logo_400px.png" alt="Reality Logo"
			                                        width="300px" height="200px"></a>
			</li>
			<li class="home"><a href="/">Home</a></li>
			<li class="losnummer"><a class="active" href="losnummer">Losnummer</a></li>
			<li class="bewertung"><a href="bewertung">Bewertung</a></li>

			<li class="nav-right login">
				<a href="login" *ngIf="isLoggedIn() === false">Login</a>
				<a (click)="logOut()" *ngIf="isLoggedIn() === true">Logout</a>
			</li>
			<li class="nav-right signup"><a href="signup" *ngIf="isLoggedIn() === false">Registrieren</a></li>
		</ul>
	</div>
</div>
