<div class="container text-center" id="losnummer-container">
  <h2>
    Gewinnspielverlosung
  </h2>

  <div class="container text-center">

    <div class="kulturbanause-logo" width="400" height="100">
      <div class="turnaround">
        <div class="front">
          Michael Ratke
        </div>
        <div class="back">
          Timon Sachweh
        </div>
      </div>
    </div>

    <br>

    <div class="kulturbanause-logo">
      <div class="turnaround">
        <div class="front">1</div>
        <div class="back">2</div>
      </div>
    </div>

    <br>

    <button class="btn btn-success">
      Starten
    </button>

  </div>
</div>
