<header class="sticky-top">
  <i class="fa fa-sign-in fa-lg btn btn-outline-dark"
     *ngIf="!isLoggendIn"
     routerLink="/dashbord"
     style="position: absolute; right: 16px; top:16px"
  ></i>
  <i class="fa fa-sign-out fa-lg btn btn-outline-dark"
     *ngIf="isLoggendIn"
     routerLink="/losnummer"
     style="position: absolute; right: 16px; top:16px"
     (click)="logOut()"
  ></i>
  <img src="../assets/reality_logo_400px.png" alt="Reality Logo" width="200px">
  <h1 style="margin: 0">
    {{title}}
  </h1>
</header>

<main>
  <router-outlet></router-outlet>
</main>

